
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5px;
}


body {
  overflow-y: scroll;
}
